*{
    margin: 0;
    padding: 0;
}
#logo{
    width: 70px;
    height: 49px;
    margin-left: 30px;
}
#logo img{
    width: 95%;
    border-radius: 250px;
   
}
#navbar{
    position: sticky;
    top: 0;
   left: 0;
   
   /* padding: 0 37px; */
   padding-right: 37px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#navbar ul{
    /* margin-left: 15%; */
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    /* margin-bottom: 40px; */
    width: 50%;
    
}
#navbar ul a{
    text-decoration: none;
    color: blue;
}

#navbar::before{
    content:"" ;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 633px;
    padding: 3px 200px;
    align-items: center;
   font-size: large;
   color: white;
}
#home::before{
    content: "";
    position: absolute;
    background: url(./pic1.jpg)no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;

}
.btn
{   padding: 6px 20px;
    border: 2px solid white;
    background-color:transparent;
    color: white;
    margin: 17px;
    cursor: pointer;

}
.btn:hover{
color: black;
background-color: antiquewhite;
}
/*services section*/

#services{
    margin: 34px;
    display: flex;
  
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 6px;
    border-radius: 28px;
    background: rgb(212, 173, 173);
    margin-bottom: 20px;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*utility classes*/
.h-primary{
    font-family: 'Bree serif',serif;
    font-size: 3.8rem;
    padding: 12px;
    
}
.h-secondary{
    font-family: 'Bree serif',serif;
    font-size: 2.3rem;
    padding: 12px;
}  
/*client section*/
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
#client-section{
    position: relative;
   
}
#client-section::before{
    content: '';
    position: absolute;
    background-image: url('bg.jpg');
    width: 100%;
    height: 54%;
    z-index: -1;
    opacity: 0.4;
 

}
#clients img{
    height: 124px;
}
.client-item
{
    padding: 34px;
}
/*contact section*/
#contact{
    position: relative;
}
#contact::before{
    content:"" ;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url("bg2.jpg")no-repeat center center/cover;
}
footer{
    background: black;
    color: white;
   text-align: center;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;

}
.btn2{
    margin: 10px 220px;
    color: black;
    border-radius: 10px;
}

